.card {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.card a.linkWrapper,
.card .cardContentNoLink,
.card .cardContentWithNestedInteractiveContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1875rem 0.375rem 0;
  border-radius: 0.25rem;
  background: #fff;
  padding: 1.5rem;
  color: #000;
  transition: transform 0.1s linear 0s;
}

.card a {
  text-decoration: none;
}

.card a:visited {
  color: #000;
}

.card a.linkWrapper:hover,
.card a.linkWrapper:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem;
}

.card .cardContentWithNestedInteractiveContent a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
}

.card .cardContentWithNestedInteractiveContent a:focus {
  outline: none;
}

.card .cardContentWithNestedInteractiveContent a:focus::after,
.card .cardContentWithNestedInteractiveContent a:hover::after {
  box-shadow: 0 0 0 0.25rem;
}

.card .content {
  margin-left: 2rem;
  flex: 1;
}

.card .title {
  margin-top: 0;
  font-size: 1.5rem;
}

.card .img {
  order: -1;
  max-width: 100%;
  width: 18.75rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1875rem 0.375rem 0;
  border-radius: 0.25rem;
}